@import "tailwindcss";
* {
  scroll-behavior: smooth;
}

.uploaderInput {
  display: none;
}
#uploaderLabel {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  border: 1px dashed #999;
}
#uploaderLabel:hover {
  color: #de0611;
  border: 1px dashed #de0611;
}

.editor-wrapper button,
.editor-wrapper input,
.editor-wrapper textarea,
.editor-wrapper ul,
.editor-wrapper ol,
.editor-wrapper h1,
.editor-wrapper h2,
.editor-wrapper h3,
.editor-wrapper h4,
.editor-wrapper h5,
.editor-wrapper h6,
.editor-wrapper p,
.editor-wrapper a,
.editor-wrapper img {
  all: revert;
}

.custom-promotion-type .ant-select-selector {
  height: 41px !important;
  border-color: black !important;
}

div.band_alert {
  position: relative;
  animation: alert_spin 1.3s infinite linear;
  border: solid 4px red;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border-right: solid 4px rgba(0, 0, 0, 1);
  border-left: solid 4px rgba(0, 0, 0, 1);
  box-shadow: 0 0 20px 5px red;
}

@keyframes alert_spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}

body {
  background-color: black;
}
